*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;

	background: #323232;

	font-family: 'Panton Narrow', sans-serif;
	font-size: 28px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 30px 10px;
	height: 100px;
	background-color: #232323;
	
}

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.logo {
	cursor: pointer;
	width: 355px;
	
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 20px 25px;

}

.nav__links li a {
	color: #FFF;
	text-decoration: none;	

	transition: all .3s ease 0s;
}

.nav__links a:hover {
	background-color: #0096ff;

	margin-left: 10px;
	padding: 6px;
	border-radius: 15px;
}

.nav__login {
	list-style: none;
}

.nav__login li {
	display: inline-block;
	padding: 20px 25px;
}

.nav__login li a {
	color: #FFF;
	text-decoration: none;	

	transition: all .3s ease 0s;
}


.nav__login li a:hover {
	background-color: #ff0000;
	border-radius: 15px;
	padding: 6px;
}

.imges {
	padding-top: 20px;

	width: 100%;
	height: 88vh;

	background: url("Images/Header.png") center no-repeat;
	background-size: cover;
}

.intro {
	width: 100%;
}

.intro__inner {
	max-width: 1250px;
	margin: 0 auto;
}

.intro__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 60px;
	color: #FFF;

	width: 100%;
	height: 390px;

	display: flex;
	flex-direction: column;
	justify-content: center;

}

.about_title_text {
	text-align: center;
	margin: auto;
	padding: 10px;

	text-transform: uppercase;
	font-size: 90px;
	color: #fff;
}

.about_description_text_1 {
	margin: auto;
	margin-left: 10px;
	padding: 20px;
	
	width: 1720px;

	text-align: left;

	font-size: 50px;
	color: white;
}

.wight_position {
	margin: auto;
	margin-top: -200px;
	margin-left: 1850px;
}

.wight {
	width: 480px;
	height: 540px;
}

.footer_content {
	overflow: hidden;

	display: flex;
	flex-direction: column;

	min-height: 30vh;
}

.footer {
	padding: 20px;
	margin-top: auto;
	background-color: #232323;
}

.left_footer_text {
	text-transform: lowercase;
	color: white;
	font-size: 20px;
	text-align: left;
}